.DS_Store
**/target
**/target_ra # legacy Rust Analyzer target dir
**/target_wasm
**/tests/snapshots/**/*.diff.png
**/tests/snapshots/**/*.new.png
**/tests/snapshots/**/*.old.png
/.*.json
/.vscode
/media/*
.idea/
