[workspace]
resolver = "2"
members = [
    "egui_demo_app",
    "egui_demo_lib",
    "egui_extras",
    "egui_glium",
    "egui_glow",
    "egui_web",
    "egui-winit",
    "egui",
    "emath",
    "epaint",
    "epi",

    "examples/custom_3d_three-d",
    "examples/download_image",
    "examples/hello_world",
    "examples/puffin_profiler",
    "examples/retained_image",
    "examples/svg",
]

[profile.dev]
split-debuginfo = "unpacked" # faster debug builds on mac

[profile.release]
# lto = true # VERY slightly smaller wasm
# opt-level = 's' # 10-20% smaller wasm compared to `opt-level = 3`
# opt-level = 1 # very slow and big wasm. Don't do this.
opt-level = 2 # fast and small wasm, basically same as `opt-level = 's'`
# opt-level = 3 # unecessarily large wasm for no performance gain

# debug = true # include debug symbols, useful when profiling wasm
