[package]
name = "eframe"
version = "0.7.0"
authors = ["Emil Ernerfeldt <emil.ernerfeldt@gmail.com>"]
description = "Egui Framework - write GUI apps that compiles to web and/or natively"
edition = "2018"
homepage = "https://github.com/emilk/egui"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/emilk/egui"
categories = ["gui", "graphics"]
keywords = ["egui", "gui", "gamedev"]
include = [ "**/*.rs", "Cargo.toml"]

[lib]

[dependencies]
egui = { version = "0.7.0", path = "../egui" }
epi = { version = "0.7.0", path = "../epi" }

# For compiling natively:
[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
egui_glium = { version = "0.7.0", path = "../egui_glium" }

# For compiling to web:
[target.'cfg(target_arch = "wasm32")'.dependencies]
egui_web = { version = "0.7.0", path = "../egui_web" }

[features]
default = []
http = ["egui_glium/http", "egui_web/http"]
persistence = ["epi/persistence", "egui_glium/persistence", "egui_web/persistence"]
time = ["egui_glium/time"] # for seconds_since_midnight
