[package]
name = "custom_3d_three-d"
version = "0.1.0"
authors = ["Emil Ernerfeldt <emil.ernerfeldt@gmail.com>"]
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.65"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
eframe = { path = "../../crates/eframe", features = ["glow"] }
egui_glow = { path = "../../crates/egui_glow" }
glow = "0.11"
three-d = { version = "0.13", default-features = false }

[target.'cfg(target_arch = "wasm32")'.dependencies] # Web dependencies
console_error_panic_hook = "0.1" # For logging
wasm-bindgen = "0.2"             # Core bindings
wasm-bindgen-futures = "0.4"     # Core bindings
